# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives:

- List popular languages for Data Science
- List popular libraries for Data Science
- Examples of arithmetic expressions

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL


Some of the commonly used libraries used by Data Scientists include:

1. NumPy: For numerical computing in Python.
2. Pandas: For data manipulation and analysis.
3. Matplotlib: For data visualization in Python.

|Data Science Tools|
-----------------------------
|Jupyter Notebooks |
|RStudio|
|Tableau|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Rizwan Farooq

In [4]:
pwd

'C:\\Users\\rizwa'